// nav{
//     width: 100%;
//     height: 10%;
//     background-color: $darkblue;
//     display: flex;
//     flex-direction: column;
//     .nav-one{
        
//         .nav-one-2{
//             padding: 0 80px;
//             width: 100vw;
//             height: 70%;
//             display: flex;
//             flex-direction: row;
//             justify-content: space-between;
//             flex-wrap: wrap;
//         }
//         padding: 0 5vw;
//         width: 100%;
//         background-color: #fff;
//         display: flex;
//         flex-direction: row;
//         .inside-nav-one-1{
//             padding: 5% 0;  
//             width: 35%;
//             height: 30%;
//         }
//         .inside-nav-one-2{
//             padding-left: 15vw;
//             background-color: $orange-p;
//             width: 65%;
//         }
//         .up-links{
//             padding: 8% 0;
//             background-color: $orange-p;
//             list-style: none;
//             display: flex;
//             flex-direction: row;
//         }
//     }
//     .nav-two{
//         .sec{
//             display: flex;
//             flex-direction: row;
//             padding: 2px;
//             li{
//                 padding: 5px;
//                 a{
//                     text-decoration: none;
//                     color: #fff;
//                 }
//             }
//         }
//     }
// }
// .navbar{
//     display: none;
//     background-color: #fff;
//     li{
//         margin: 4px;

//     }
//     .dropdown-item{
//         color: #000;
//     }
// }
// .navbar-nav {
//     padding: 2px;
//     display: flex;
//     flex-direction: column;
//     margin-bottom: 0;
//     list-style: none;
//     align-items: center;
// }
// .container-fluid{
    
//     a{
//         text-decoration: none;
//         color: #000;
//     }
// }
.hidden{
    display: none;
}
#nav-1{
    background-color: #fff;
    max-height: 12%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15%;
    img{ 
        max-height: 2.7rem;
    }
    frist-nav-item{
        width: 20%;
    }
    .nav1-3{
        background: $prim-g;
        padding: 1rem 2rem;
        font-size: 1.5rem;
        a{
            text-decoration: none;
            color: #fff;
        }
    
    }
    .nav1-3:hover {
    
        background: $prim-g-hover;
    
}
}

.nav1-2{
    display: flex;
    flex-direction: row-reverse;
   
    span{
        font-size:3rem;
        color: #007BFF; 
    }
    #text{ 
      color: #007BFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 0.8rem;
      a{
        font-size: 0.8rem;
        color: #007BFF;
      }
   }
 } 
 .nav1-2:hover{
    
    span{
        color: #585b5e; 
    }
    #text{ 
        color: #585b5e;
     
        a{
          color: #007BFF;
        }
       
    }
}
#nav-2{
    padding: 0 15%;
    background-color: #fff;
    width: 100%;
    height: 1.5cm;
    .main-ul{
        float: right;
        padding: 7px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
    }
    .main-li{
        font-weight: bolder;
        list-style: none;
        margin: 0 3 px;
        padding: 7px;
        padding-bottom: 0;
        transition-delay: 20sec;
        a{
            text-decoration: none;
            color: #585b5e;
        }
    }
    .dropdown-toggle{
        font-weight: bolder;
        border: none;
        background-color: #fff;
        color: #585b5e;
    }
    .main-li:hover{
        background: $prim-g-hover;
        height: 3.1rem;
        color: #fff;
        .li-link{
            color: #fff;
        }
        .dropdown-toggle{
            color: #fff;
            background: $prim-g-hover;
        }
        
    }
}
.dropdown-item0{
        padding: 0;
        margin: 0;
        color: #157ce4;
        font-weight: bolder;
        width: 0px;
        background-color: #00ff73;
        transition-duration: 1ms;

 
       
    }

    .dropdown-item0:hover{
        font-weight: bolder;
        width: 1.5px;
        background-color: #007BFF;
        .dropdown-item{
            background: none;
        }

        
    }

    .sticky-header[data-scroll="in"] {
        position: fixed;
        top: 0;
        z-index: 110;
      }


